<div>
    <MudRating @bind-SelectedValue="sterneBewertung.Sterneanzahl" Size="Size.Medium" />

    <MudTextField @bind-Value="berwertungGrund" InputType="InputType.Text" Label="Comment the review" />

    <MudText Class="mt-2" Typo="Typo.body1">To close the dialog, use the upper right X or the button below</MudText>
    <MudButton Class="mt-3" @onclick="FormBeenden" Color="Color.Success" Variant="Variant.Filled" >Give review</MudButton>
</div>