@inject SQLiteManager _db

@page "/anzeige"

<LoginCheck/>

<h1>Welcome to your library</h1>

@if (SpieleListe.Count <= 0)
{
    <p>There are no games, add some games...</p>
} else
{
    <div class="form-group">
    <label for="genrefeld">Sort:</label>
    <select class="form-control" @bind="Filterung">
        <option value="0" class="dropdown-item">Sort..</option>
        <option value="1" class="dropdown-item">Genre</option>
        <option value="2" class="dropdown-item">Genre number</option>
        <option value="3" class="dropdown-item">Name</option>
        <option value="4" class="dropdown-item">Favourite</option>
        <option value="5" class="dropdown-item">Stars</option>

    </select>

    <label for="genrefeld">Sort order:</label>
    <select class="form-control" @bind="Filterungfolge">
        <option value="0" class="dropdown-item">Ascending</option>
        <option value="1" class="dropdown-item">Descending</option>
    </select>
</div>

<div class="card-deck">
    @foreach(Spiel s in SpieleListe)
    {
        if(s.Papierkorb == 0)
        {
            <NewGameCard spiel="@s" /> 
        }
    }
</div>
}