@inject SQLiteManager _db
@inject NavigationManager navMan

<div id="@Manager.CreateModalId(SelectedGame.Name)" class="card m-4" style="background-color:#ffffff; min-width: 18rem; max-width:22%">
  <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
    <img src="@SelectedGame.Bildlink" class="img-fluid"/>
  </div>
  <div class="card-body">
    <h5 class="card-title float-left">@SelectedGame.Name</h5>
  </div>
  <div class="card-footer">               
    <div class="text-center">
        <button data-toggle="tooltip" data-placement="top" title="Restore game" @onclick="SpielWiederherstellen" class="btn"><i class="oi oi-reload" ></i></button>   
        <button data-toggle="tooltip" data-placement="top" title="Delete game completely" @onclick="SpielEndgueltigLoeschen" class="btn"><i class="oi oi-trash" ></i></button>   
   </div>                                                              
  </div>
</div>