@inject SQLiteManager _db
@inject NavigationManager navMan

@page "/genres"

<LoginCheck />

<MudText Typo="Typo.h4">Manage the library genre</MudText>

@if(GenreListe.Length > 0)
{
    <div class="mt-1">
        <MudSelect Placeholder="Here are the existing genre listed" T="Genre" ToStringFunc="GenreIdToGenreName" MultiSelection="true" @bind-SelectedValues="AuswahlGenre" >
            @foreach (Genre gr in GenreListe)
            {
                <MudSelectItem Value="@gr">@gr.Name</MudSelectItem>
            }
        </MudSelect>
    </div>

    @if (AuswahlGenre.Count() >= 1)
    {
        <MudButton Class="mt-3" OnClick="LoescheGenre" Variant="Variant.Filled" Color="Color.Error" >Delete selection</MudButton>
    }

    @if (AuswahlGenre.Count() == 1)
    {
        <MudTextField MaxLength="50" @bind-Value="editgenre.Name" id="genreaendernfeld" Placeholder="New genre name" />
        <MudButton Class="mt-3" OnClick="AendereGenre" Variant="Variant.Filled" Color="Color.Info">Edit genre</MudButton>
    }
} else
{
    <MudText Color="Color.Error" Class="pt-2">Error: There are no genre, add some genre to use them here...</MudText>
}

<div>
    <MudTextField MaxLength="50" @bind-Value="NeuesGenre" id="genreerstellfeld" Placeholder="How the new genre should be called" />
    <MudButton Variant="Variant.Filled" Color="Color.Success" OnClick="ErstelleGenre" Class="mt-3">Create new genre</MudButton>
</div>