@inject IJSRuntime JS
@inject NavigationManager navMan
@inject SQLiteManager _db
@inject CsvManager csvMan

@page "/fileimport"

<LoginCheck />

<MudText Typo="Typo.h4">Importmenu</MudText>

<div class="input-group mb-3">
    <MudTextField @bind-Value="spielcsv_state" Label="Choose a .csv file containing game data" ReadOnly="true" Variant="Variant.Text" />
    <MudButton OnClick="() => SelectImportCsv(ImportType.Spiel)" Variant="Variant.Filled" Color="Color.Primary">Select</MudButton>
</div>

<div class="input-group mb-3">
    <MudTextField @bind-Value="genrecsv_state" Label="Choose a .csv file containing genre data" ReadOnly="true" Variant="Variant.Text" />
    <MudButton OnClick="() => SelectImportCsv(ImportType.Genre)" Variant="Variant.Filled" Color="Color.Primary">Select</MudButton>
</div>

<MudButton OnClick="VerarbeiteDaten" Variant="Variant.Filled" Color="Color.Success">Import data</MudButton>