@inject IJSRuntime JS
@inject NavigationManager navMan
@inject SQLiteManager _db
@inject CsvManager csvMan

@page "/import"

<h1>Import genre or games</h1>

<div class="input-group mb-3">
  <input @bind="spielcsv_state" type="text" class="form-control" placeholder="Choose a .csv file containing game data">
  <div class="input-group-append">
    <button @onclick="() => SelectImportCsv(ImportType.Spiel)" class="btn btn-outline-secondary" type="button">Select</button>
  </div>
</div>

<div class="input-group mb-3">
  <input @bind="genrecsv_state" type="text" class="form-control" placeholder="Choose a .csv file containing genre data">
  <div class="input-group-append">
    <button @onclick="() => SelectImportCsv(ImportType.Genre)" class="btn btn-outline-secondary" type="button">Select</button>
  </div>
</div>

<button @onclick="VerarbeiteDaten" class="btn btn-primary" type="button">Import</button>