@inject SQLiteManager _db

@page "/trashcan"

<LoginCheck/>

<MudText Typo="Typo.h4">Library Trashcan</MudText>

@if (SpieleListe.Count <= 0)
{
    <MudText Color="Color.Error" Class="mt-2 mb-2">Error: There are no games in the trashcan...</MudText>
} else
{
    <div class="card-group mt-1">
    @foreach(Spiel sp in SpieleListe)
    {
        <TrashCard SpielKarte="sp" /> 
    }
</div>
}