@inject SQLiteManager _db

@page "/papierkorb"

<LoginCheck/>

<h3>Trashcan</h3>

@if (SpieleListe.Count <= 0)
{
    <p>There are no games in the trashcan...</p>
} else
{
    <div class="card-deck">
    @foreach(Spiel s in SpieleListe)
    {
        <DeletedGameCard SelectedGame="s" /> 
    }
</div>
}