@inject SQLiteManager _db
@inject NavigationManager navMan

@page "/spielbearbeiten/{SpielId}"

<LoginCheck/>

<MudText Typo="Typo.h4">Edit your game <small>"@Spiel.Name"</small></MudText>

<div class="mt-1">
    <MudTextField Label="Name of the game" T="string" @bind-Value="Spiel.Name" InputType="InputType.Text" />
</div>

<div class="mt-1">
    <MudTextField Label="Description of the game" T="string" @bind-Value="Spiel.Beschreibung" InputType="InputType.Text" />
</div>

<div class="mt-1">
    <MudTextField Label="Url to image" T="string" @bind-Value="Spiel.Bildlink" InputType="InputType.Text" />
</div>

<div class="mt-1">
    <MudTextField Label="Path to exe file" T="string" @bind-Value="Spiel.Exepfad" InputType="InputType.Text" />
    <MudButton Class="mt-2" OnClick="SelectExeFile" Variant="Variant.Filled" Color="Color.Info" >Choose .exe file</MudButton>
</div>

@if(GenreListe.Length > 0)
{
    <MudSelect Placeholder="Change the genres for the game" ToStringFunc="GenreIdToGenreName" MultiSelection=true T="Genre" @bind-SelectedValues="AuswahlGenre">
        @foreach (Genre gr in GenreListe)
        {
            <MudSelectItem Value="@gr">@gr.Name</MudSelectItem>
        }
    </MudSelect>
} else
{
    <MudText Color="Color.Error" Class="mt-2">Error: There are no genre, add some genre to use them here...</MudText>
}

<div class="mt-2">
    <MudButton OnClick="speichereDaten" Variant="Variant.Filled" Color="Color.Success">Save</MudButton>
    <MudButton Href="/games" Variant="Variant.Filled" Color="Color.Error">Back</MudButton>
</div>