@page "/"

@if(Manager.ActiveLibraryUser is not null)
{
    <MudText Typo="Typo.h4">Hi @Manager.ActiveLibraryUser.Name, you can logout using the button below</MudText>

    <MudButton Class="mt-1" OnClick="TryUserLogout" Variant="Variant.Filled" Color="Color.Warning">Logout</MudButton>

    <details class="mt-3">
        <summary><b>Delete my account</b></summary>

        <MudTextField Required Validation="@(new Func<string, bool>(DeletionTextFieldCheck))" Label="Type in &quot;delete&quot;, to confirm and continue. Attention: When deleting, all your inserted genre and games will be deleted too" MaxLength="6" @bind-Value="DeletionConfirmField" />
        <MudButton Disabled=DeletionButtonState Class="mt-2" OnClick="TryUserDeletion" Variant="Variant.Filled" Color="Color.Error">Yes, delete!</MudButton>
    </details>
} else
{
    <MudText Typo="Typo.h4">Welcome, please login or register</MudText>

    <MudTextField InputType="InputType.Text" @bind-Value="UserNick" Placeholder="Put in your loginname..." />

    <MudTextField MaxLength="6" InputType="InputType.Password" @bind-Value="UserPas" Placeholder="Enter your passcode..." />

    <MudButton Class="mt-2" OnClick="TryUserLogin" Variant="Variant.Filled" Color="Color.Success">Login</MudButton>

    <details class="mt-2">
        <summary><b>How do I register an account?</b></summary>

        <div class="mt-1">
            <MudText Typo="Typo.body2">Just type in a name and a digit pincode:</MudText>
            <MudText Typo="Typo.body2"><mark>If the combination doesnt exist, we ask you if you want to create an account using those credentials.</mark></MudText>
        </div>
    </details>
}

<details class="mt-2">
    <summary><b>Show me a introduction</b></summary>

    <div class="mt-1">
        <div class="mt-1">
            <MudText Typo="Typo.body1">Page: Start</MudText>
            <MudText Color="Color.Info" Typo="Typo.body2">Here you find the help and important messages will be displayed here</MudText>
        </div>

        <div class="mt-1">
            <MudText Typo="Typo.body1">Page: Library</MudText>
            <MudText Color="Color.Info" Typo="Typo.body2">This is the place that contains all of your games</MudText>
        </div>

        <div class="mt-1">
            <MudText Typo="Typo.body1">Add a game</MudText>
            <MudText Color="Color.Info" Typo="Typo.body2">Here you can add more games</MudText>
        </div>

        <div class="mt-1">
            <MudText Typo="Typo.body1">Page: Genres</MudText>
            <MudText Color="Color.Info" Typo="Typo.body2">Here you can create, edit or delete genre</MudText>
        </div>

        <div class="mt-1">
            <MudText Typo="Typo.body1">Page: Fileimport</MudText>
            <MudText Color="Color.Info" Typo="Typo.body2">Here you can import genre and games using .csv files</MudText>
        </div>

        <div class="mt-1">
            <MudText Typo="Typo.body1">Page: Trashcan</MudText>
            <MudText Color="Color.Info" Typo="Typo.body2">Here you can restore or completely delete previously deleted games</MudText>
        </div>

    </div>
</details>