@inherits LayoutComponentBase

<div class="page">
    @if(MauiProgram.Settings.UseColoredNavMenu)
    {
        <div class="navmenusettings sidebar">
            <NavMenu />
        </div>
    } else
    {
        <div style="background-color: @MauiProgram.Settings.CustomColorCode;" class="navmenusettings extra">
            <NavMenu />
        </div>
    }

    <div class="main">
        <div class="top-row px-3">
            <MudText Typo="Typo.body2" Color="Color.Info">Today: @DateTime.Today.Date.ToString("dd.MM.yyyy")</MudText>
        </div>
        <div class="content px-3">
            @Body
        </div>
    </div>
</div>

<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>