<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">BlazorLibrary</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Start
            </NavLink>
        </li>
         <li class="nav-item px-3">
            <NavLink class="nav-link" href="anzeige">
                <span class="oi oi-folder" aria-hidden="true"></span> Library
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="spielhinzufuegen">
                <span class="oi oi-plus" aria-hidden="true"></span> Add game
            </NavLink>
        </li>
         <li class="nav-item px-3">
            <NavLink class="nav-link" href="genreverwalten">
                <span class="oi oi-book" aria-hidden="true"></span> Manage genre
            </NavLink>
        </li>
         <li class="nav-item px-3">
            <NavLink class="nav-link" href="import">
                <span class="oi oi-file" aria-hidden="true"></span> Import
            </NavLink>
        </li>
         <li class="nav-item px-3">
            <NavLink class="nav-link" href="papierkorb">
                <span class="oi oi-trash" aria-hidden="true"></span> Trashcan
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
